{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

<!-- Adapted from Boutique Ado project-->
<!-- Empty Page Header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Opaque Background Overlay -->
<div class="overlay"></div>
<!-- Single Colour Overlay -->
<div class="container-fluid overlay-3">
    <div class="row">
        <div class="col text-center mt-2">
            <hr class="hidden">
            <!-- Page Heading -->
            <h2 class="heading-font text-black mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>
    <div class="desktop">
        <div class="row col-10 shadow px-3 py-3 bg-white offset-1 mb-5">
            <div class="col text-center mt-5 px-5">
                {% include 'bag/desktop_bag.html' %}
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="row col-10 shadow px-1 my-0 bg-white offset-1 mb-5">
            <div class="col text-center mt-5 px-2">
                {% include 'bag/mobile_bag.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update Quantity on Click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove Item and Reload on Click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}