html {
    height: 100%;
}

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

header {
    background-color: #f3dcc5;
}

.main-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

/* icon class from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: none;
    font-weight: 800;
    font-size: 2.8rem;
    font-family: 'WindSong', sans-serif;
    text-shadow: 2px 2px 4px #CFB997;
}

.navbar-font {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-font:hover,
.navbar-font:active,
.navbar-font:focus {
    text-shadow: 0 1px 2px #CFB997;

}

.heading-font {
    font-family: 'Lily Script One', cursive;
}

ul {
    padding-inline-start: 0;
}

.navbar-nav li {
	margin: 0 40px 0 0;
    text-align: left;
}

.main-logo-link {
    width: fit-content;
}

.banner-font {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.fa-gem {
    font-size: 55%;
}

.search-field {
    margin-left: 20px;
}

.home-text {
    text-align: right;
    text-shadow: #222;
}

hr {
    clear: both;
    visibility: hidden;
}

.shop-now-button {
    background: #f3dcc5;
    color: white;
    text-shadow: 0 2px 2px rgb(26, 22, 22);
    min-width: 260px;
    font-size: larger;
    float: right;
}

.btn-black {
    background: black;
    color: white;
    border: 1px solid black;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    color:  black;
    text-shadow: 0 1px 2px rgb(51, 49, 49);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    color: white;
    transform: scale(1.1);
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.modal-trigger:hover,
.modal-trigger:active,
.modal-trigger:focus {
    cursor: pointer;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(255,255,255,.1);
	z-index: -2;
}

.overlay-2 {
    min-height: 100%;
    width: 80%;
    background: #f3dcc5;
    z-index: -1;
}

.overlay-3 {
    min-height: 100%;
    width: 80%;
    top: 0;
    bottom: 0;
    background: #f3dcc5;
    z-index: -1;
}

a.category-badge {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
}

a.category-badge > span.badge:hover {
    transform: scale(1.1);
}

a.white-btn {
    background-color: white !important;
}

a.white-btn:hover {
    transform: scale(1.1);
    color: black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
    background-color: #f3dcc5; 
    border-radius: 5px 20px 5px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
}

#signup_form {
    width: 400px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}