<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-black mr-5" href="#" id="rings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rings-link">
                <a href="" class="dropdown-item">Gold Rings</a>
                <a href="" class="dropdown-item">Platinum Rings</a>
                <a href="" class="dropdown-item">Silver Rings</a>
                <a href="" class="dropdown-item">All Rings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-black mr-5" href="#" id="necklaces-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklaces and Earrings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="necklaces-link">
                <a href="" class="dropdown-item">Gold Necklaces & Earrings</a>
                <a href="" class="dropdown-item">Platinum Necklaces & Earrings</a>
                <a href="" class="dropdown-item">Silver Necklaces & Earrings</a>
                <a href="" class="dropdown-item">All Necklaces & Earrings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-font font-weight-bold nav-link text-black" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">Clearance Items</a>
                <a href="" class="dropdown-item">Limited Time 30% Off</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>
