<!-- Adapted from Boutique Ado project-->
<div class="collapse navbar-collapse w-auto" id="main-nav">
    <ul class="navbar-nav mr-auto">
        <!-- Navbar Dropdown -->
        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black rounded" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 rounded" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black rounded" href="#" id="rings-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rings
            </a>
            <div class="dropdown-menu border-0 rounded" aria-labelledby="rings-link">
                <a href="{% url 'products' %}?category=gold_rings" class="dropdown-item">Gold Rings</a>
                <a href="{% url 'products' %}?category=platinum_rings" class="dropdown-item">Platinum Rings</a>
                <a href="{% url 'products' %}?category=silver_rings" class="dropdown-item">Silver Rings</a>
                <a href="{% url 'products' %}?category=gold_rings,platinum_rings,silver_rings" class="dropdown-item">All
                    Rings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black rounded" href="#" id="necklace-sets-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Necklace Sets
            </a>
            <div class="dropdown-menu border-0 rounded" aria-labelledby="necklace-sets-link">
                <a href="{% url 'products' %}?category=gold_necklace_sets" class="dropdown-item">Gold Necklace Sets</a>
                <a href="{% url 'products' %}?category=platinum_necklace_sets" class="dropdown-item">Platinum Necklace
                    Sets</a>
                <a href="{% url 'products' %}?category=silver_necklace_sets" class="dropdown-item">Silver Necklace
                    Sets</a>
                <a href="{% url 'products' %}?category=gold_necklace_sets,platinum_necklace_sets,silver_necklace_sets"
                    class="dropdown-item">All Necklace Sets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="navbar-font nav-link text-black rounded" href="#" id="offers-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0 rounded" aria-labelledby="offers-link">
                <a href="{% url 'products' %}?category=clearance_items" class="dropdown-item">Clearance Items</a>
                <a href="{% url 'products' %}?category=30_percent_off" class="dropdown-item">Limited Time 30% Off</a>
                <a href="{% url 'products' %}?category=clearance_items,30_percent_off" class="dropdown-item">All
                    Offers</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-font text-black rounded" href="{% url 'blog' %}">Blog</a>
        </li>
    </ul>
    <div class="col-12 col-lg-2 ml-auto">
        <!-- Search Field and Icon Button -->
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
                <input class="search-field form-control border rounded border-bottom" type="text" name="q" placeholder="Search">
                <div class="input-group-append">
                    <button class="form-control btn" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>