{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Adapted from Boutique Ado project-->
<!-- Change Password -->
{% block inner_content %}
    <h2 class="heading-font mb-5 mt-4 text-center">{% trans "Change Password" %}</h2>

    <form method="POST" class="d-flex justify-content-center" action="{% url 'account_change_password' %}" class="password_change shadow px-3 py-3 bg-white">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="white-btn btn btn-black rounded mt-3">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
