{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="heading-font mb-5 mt-4 text-center">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set shadow px-3 py-3 bg-white d-flex justify-content-center">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="white-btn btn btn-black rounded mt-3" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
