{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-- Adapted from Boutique Ado project-->
<!-- Forgot Password -->
{% block inner_content %}

    <h2 class="heading-font mb-5 mt-4 text-center">{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail to help you reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset justify-content-center">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="white-btn btn shadow rounded border" href="{% url 'home' %}">Home</a>
        <input type="submit" class="btn btn-black rounded" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-center mt-3">{% blocktrans %}Please <a href="https://www.twitter.com" target="_blank">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
