{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <h2 class="heading-font mb-5 mt-4 text-center">{% trans "Verify" %}</h2>

    <p class="text-center">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided in the email to finalize the sign-up process. <br>Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

{% endblock %}
