{% extends "base.html" %}
{% load static %}

<!-- Adapted from Boutique Ado project-->
<!-- Empty Page Header -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Opaque Background Overlay -->
<div class="overlay"></div>
<!-- Single Colour Overlay -->
<div class="container overlay-3">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-12">
            <h2 class="heading-font text-center mt-4 mb-5">Product Management</h2>
        </div>
    </div>
    <!-- Edit Product Form Background -->
    <div class="row col-10 shadow px-3 py-3 bg-white offset-1 mt-3">
        <div class="col-12">
            <!-- Edit Product Heading -->
            <h4 class="text-center text-black mt-4 mb-5"><strong>Edit Product</strong></h4>
            <!-- Edit Product Form -->
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn white-btn text-danger shadow border rounded"
                        href="{% url 'products' %}"><strong>Cancel</strong></a>
                    <button class="btn btn-black rounded border" type="submit"><strong>Update Product</strong></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<!-- Javascript For Changing the Image -->
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}